:root {
  /*text colors*/
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;

  /*background colors*/
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;

  /*icons*/
  --icon-color: #afb1b8;

  /*grid items*/
  --items: 1;
  --indent: 30px;
}
