/*Features*/
.features-list {
  //--indent: 60px;
  @extend %grid;

  &__item {
    @extend %grid__item;

    @media screen and (min-width: 768px) {
      --items: 2;
    }

    @media screen and (min-width: 1200px) {
      --items: 4;
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--title-text-color);

    cursor: default;

    @media screen and (min-width: 768px) {
      text-align: left;
    }

    @media screen and (min-width: 1200px) {
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    cursor: default;
  }
}
