/*Footer*/
.footer-section {
  padding: 60px 0;
  background-color: #2f303a;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__socials {
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      margin: 0;
      margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 85px;
    }
  }

  &__form {
    margin: 0 auto;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      margin-left: auto;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);

    cursor: default;
  }
}
