/*Footer*/
.footer-section {
  padding: 60px 0;
  background-color: #2f303a;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;

      padding-bottom: 0;
    }
  }

  &__address {
    padding-bottom: 60px;

    text-align: center;

    @media screen and (min-width: 768px) {
      margin-left: 61px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 0;
      padding-bottom: 0;

      text-align: left;
    }
  }

  &__socials {
    margin: 0 auto;
    padding-bottom: 60px;

    text-align: center;

    @media screen and (min-width: 768px) {
      margin-right: 74px;
      margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
      margin: 0;
      margin-left: 85px;
      padding-bottom: 0;

      text-align: left;
    }
  }

  &__form {
    margin: 0 auto;

    text-align: center;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      margin: 0;
      margin-left: auto;
      padding-bottom: 0;

      text-align: left;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);

    cursor: default;
  }
}
