/*Our team*/

.team-list {
  //--indent: 40px;
  @extend %grid;

  &__item {
    @extend %grid__item;
    --items: 4;

    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__meta {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    text-transform: capitalize;

    color: var(--title-text-color);

    cursor: default;
  }

  &__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    cursor: default;
  }
}
